<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/> 
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand" >Dashboard</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-item px-2">
                                <a th:href="@{/}" class="nav-link active">[[#{navbar.home}]]</a>
                            </li>
                            <li class="nav-item px-2 dropdown">
                                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">[[#{navbar.products}]]</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/product/list}">[[#{product.list}]]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/product/add}">[[#{action.add}]]</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mr-3">
                                <a href="#" class="nav-link active">
                                    <i class="far fa-user"></i>
                                    <span>[[#{layout.welcome}]]:</span>
                                    <span>Usuario</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <footer th:fragment="footer">
            <div class="bg-info fixed-bottom text-white text-center">
                <br/>
                <span>[[#{layout.copy}]] &copy; [[#{layout.year}]] <a class="text-white" href="http://www.froylanvillaverde.info/">[[#{layout.author}]]</a> </span>
            </div>
        </footer>
    </body>
</html>
