<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
        <title>Productos</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/layout :: header"></header>
        <h1>[[#{product.title}]]</h1>
        <a class="btn btn-info" th:href="@{/}"><i class="far fa-arrow-alt-circle-left"></i> [[#{action.back}]]</a>
        <div th:if="${messages !=null and !messages.empty}">
            <div th:each="message : ${messages}">
                <div th:if="${message.type.name() == 'SUCCESS'}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong th:text="${message.type}"></strong> <p th:text="${message.message}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${message.type.name() == 'DANGER'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong th:text="${message.type}"></strong> <p th:text="${message.message}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${products !=null and !products.empty}">
            <br>
            <table class="table table-striped">
                <thead class="bg-secondary">
                    <tr>
                        <th>#</th>
                        <th>[[#{data.key}]]</th>
                        <th>[[#{data.name}]]</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td><span th:text="${product.id}">Id</span></td>
                        <td><span th:text="${product.key}">Key</span></td>
                        <td><span th:text="${product.name}">Name</span></td>
                        <td><a class="btn btn-success" th:href="@{/product/edit/} + ${product.id}"><i class="far fa-edit"></i> [[#{action.edit}]]</a></td>
                        <td><a class="btn btn-danger" th:href="@{/product/delete(id=${product.id})}"><i class="far fa-trash-alt"></i> [[#{action.delete}]]</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${products ==null or products.empty}">
            <h2>Products list empty</h2>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
