<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/layout :: head">
        <title>Formulario producto</title>
    </head>
    <body>
        <header th:replace="layout/layout :: header"></header>
        <h2>[[#{product.form.title}]]</h2>
        <a class="btn btn-info" th:href="@{/}"><i class="far fa-arrow-alt-circle-left"></i> [[#{action.back}]]</a>
        <br/>
        <form th:action="@{/product/save}" method="post" th:object="${product}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="pricelistId" th:field="*{pricelist.id}"/>
            <input type="hidden" name="stockId" th:field="*{stock.id}"/>
            <br/>
            <div class="form-group">
                <label for="key">[[#{data.key}]]:</label>
                <input type="text" name="key" id="key" th:field="*{key}" />
                <span th:if="${#fields.hasErrors('key')}" th:errors="*{key}">Error</span>
            </div>
            <br/>
            <div class="form-group">
                <label for="name">[[#{data.name}]]:</label>
                <input type="text" name="name" id="name" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            </div>
            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" name="price" id="name" th:field="*{pricelist.price}"/>
                <span th:if="${#fields.hasErrors('pricelist.price')}" th:errors="*{pricelist.price}">Error</span>
            </div>
            <div class="form-group">
                <label for="count">Cantidad:</label>
                <input type="number" name="count" id="count" th:field="*{stock.count}"/>
                <span th:if="${#fields.hasErrors('stock.count')}" th:errors="*{stock.count}">Error</span>
            </div>
            <div class="form-group">
                <label for="location">Ubicación:</label>
                <input type="text" name="location" id="location" th:field="*{stock.location}"/>
                <span th:if="${#fields.hasErrors('stock.location')}" th:errors="*{stock.location}">Error</span>
            </div>
            <br/>
            <button class="btn btn-success" type="submit" name="save"><i class="far fa-save"></i> [[#{action.save}]]</button>
        </form>
        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>
